
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #F4CFD6;
}


header {
    background-color:#F4CFD6;
    color: #000000 ;
    padding: 20px;
    text-align: center;
}

#foto-perfil{
    height: 170px;
    width: 190px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #F4CFD6;
    margin: 10px;
}


section {
    flex: 2;
    margin: 30px;
    padding: 20px;
}

section h2 {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

article {
    margin: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

article h2{
    color: #000000;
    border-radius: 50px;
}

header button{
    background: transparent;
    border: transparent;
    
}
a{
    text-decoration: none;
}

h4{
    color: #ffffff;
}

aside {
    color: #000000;
    flex: 1;
    background: #F4CFD6;
    padding: 10px;
    margin-left: 0px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
}

aside h2 {
    color: #000000;
    background: #ffffff;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    border-radius: 50px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    text-decoration: none;
    color: #000000;
}

aside ul li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    background: #F4CFD6;
    color: #000000;
    
}

article h3{
    color: #000000;
}

.logos {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 50rem;
    width: 100rem;
   
   
}

.projetos{
    display: flex;
    flex-direction: row;
}

.ferramentas{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: center;
    margin: 2rem 0;
}
.container {
    margin-top: 150px;
    width: 100%;
    overflow: hidden;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.575);
  }
 
  .wrapper {
    width: 550px;
    display: flex;
    animation: slide 10s infinite;
  }

  .link{
    color: #000000;
    padding-right: 1rem;
    padding-left: 1rem;

  }
  #mostraAside{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
 
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-100%);
    }
    55% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-200%);
    }
    80% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-300%);
    }
   
  }
 

@media (max-width: 720px) {
    body {
    width: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #F4CFD6;
}


header {
    background-color:#F4CFD6;
    color: #000000 ;
    padding: 20px;
    text-align: center;
    border-bottom: 0px solid #ccc;
    width: 100%;
}

header img{
    height: 150px;
    width: 190px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #F4CFD6;
}


section {
    flex: 2;
    width: 70%;
    display: block;
    width: block;
}

section h2 {
    background: #f4f4f4;
    padding: 0px;
    border-bottom: 2px solid #ccc;
}

article {
    margin: 10px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

article h2{
    color: #000000;
}

header button{
    color: #000000;
    border-color: #ffffff;
    background-color: #F4CFD6;
    border-radius: 10px;
    width: 150px;
    height: 30px;

}


header button:hover{
    background-color: #F4CFD6;
}

h4{
    color: #ffffff;
}

aside {
    color: #000000;
    flex: 1;
    background: #F4CFD6;
    padding: 5px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

aside h2 {
    color: #000000;
    background: #ddd;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    border-radius: 50px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    text-decoration: none;
    color: #ffffff;
}

aside ul li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    background: #151515;
    color: #fff;
    
}

article h3{
    color: #000000;
}

}